/****************************/
/* HEADER */
/****************************/
header {
  padding: 0 4.8rem;
  height: 9.6rem;
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 2.2rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8em;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  background-color: #e67e22;
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/****************************/
/* HERO */
/****************************/

/****************************/
/* HOW IT WORKS */
/****************************/

/****************************/
/* FEATURED IN */
/****************************/

/****************************/
/* TESTIMONIALS */
/****************************/

/****************************/
/* PRICING */
/****************************/

/****************************/
/* CTA */
/****************************/

/****************************/
/* FOOTER */
/****************************/
